.item {
    margin: 30px 30px 30px 0;
    width: 450px;       
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;


    h3 {
        text-align: center;
        padding: 10px;
        margin: 5px;
        color: #000;
        font-size: 22px;
        text-transform: uppercase;        
    }
    
    p {
        text-align: center;
        font-size: 18px;
        padding: 10px;
    }
}